body{
    color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(251,251,251);
    background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(225,245,255,1) 100%);
}
.center{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
img:active{
    transform: rotate(0.5turn);
    transition: 1s;
}

/* the width from h1 is 270px */


/* helpers */

.m0{
    margin: 0;
}